fastapi
uvicorn
sqlmodel
psycopg2-binary
pydantic
pydantic-extra-types
email-validator
passlib
python-jose
python-dotenv
python-multipart
PyJWT
alembic
sqlmodel
python-dotenv
passlib[bcrypt]
pyjwt
psycopg2
pydantic[email]