fastapi
uvicorn
sqlmodel
psycopg2-binary
pydantic
pydantic-extra-types
email-validator
passlib
python-jose
python-dotenv
python-multipart
PyJWT
alembic
sqlmodel
python-dotenv
passlib[bcrypt]
pyjwt
psycopg2
pydantic[email]

# Google Drive API dependencies
google-auth-oauthlib>=0.4.6
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.2
aiosqlite

pikepdf 
pdfplumber 
PyPDF2 
pandas

python-multipart
pypdfium2
pandas
gradio
easyocr